/*-------------------------------*/
/*          Product-Page         */
/*-------------------------------*/

.products{
    margin-left: 10%;
}
.card{
    width: 250px;
    height: 500px;
    float: left;
    margin-right: 2%;
    padding-bottom: 25px;
}
.card-body{
    overflow: hidden;
}

.addcart{
    background-color: #1d2124;
    color: #FFFFFF!important;
}


/*-------------------------------*/
/*          Details-Page         */
/*-------------------------------*/

.Details-Body{
    width: 80% w; ;
    margin-left: 10%;
    margin-right: 10%;

}
.Details-img{
    box-sizing:border-box;
    float: left;
    width: 500px;
    margin-right: 50px;
}
.Details-Text{
    box-sizing:border-box;
    width: 50%;
    float: left;

}