/*-------------------------------*/
/*          Product-Page         */
/*-------------------------------*/

.products{
    width: 77%;
    margin-left: auto;
    margin-right: auto;
}
.card{
    width: 250px;
    height: 500px;
    float: left;
    margin-right: 2%;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.card-body{
    overflow: hidden;
}

.addcart{
    background-color: #1d2124;
    color: #FFFFFF!important;
}

.ProductMenu{
    width: 77%;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.pagination{
    position: absolute;
    bottom: 0;
    right: 0;
}
/*-------------------------------*/
/*          Details-Page         */
/*-------------------------------*/

.Details-Body{
    width: 80% w; ;
    margin-left: 10%;
    margin-right: 10%;

}
.Details-img{
    box-sizing:border-box;
    float: left;
    width: 500px;
    margin-right: 50px;
}
.Details-Text{
    box-sizing:border-box;
    width: 50%;
    float: left;

}

/*-------------------------------*/
/*            Cart               */
/*-------------------------------*/

.CartProduct{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    box-sizing: border-box;
    position: relative;
}

.CartProduct hr {
    height: 2px;
    background-color: black;
    opacity: 0.5;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    width:100% ;
}

.cart-img{
    float: left;
    height: 125px;
    max-width: 150px;
    margin-bottom: auto;
    margin-top: auto;
}

.cart-title{
    margin-left: 50px;
    float: left;
    margin-top: 0px;
}

.cart-price{
    float:right;
}
